<div class="clouds d-flex row">
    <div class="cloud_container container col-md-6 col-sm col-xs h-100 d-flex justify-content-center align-items-center img-fluid "
        data-bs-ride="carousel" style="background-image: url(/public/img/cloud1.png); max-width: 100%; height: auto;">

        <!-- Wrapper for carousel items -->
        <div class="carousel-inner review__carousel  w-50">
            <div class="carousel-item active">
                <p class="review__body">"Unforgettable experience in the Sierras. The lakes are unbelievable!"</p>
                <p class="review__author text-end px-3">- Jack Xavian</p>
            </div>
            <div class="carousel-item">
                <p class="review__body">"So knowledgable and all inclusive. No need for experience or equiptment, they
                    have it all!"</p>
                <p class="review__author text-end px-3">- Jane Molly</p>
            </div>
            <div class="carousel-item">
                <p class="review__body">"Dont miss out and get outside! My families next trip is already booked!"</p>
                <p class="review__author text-end px-3">- Kelly Tristan</p>
            </div>

        </div>

        <!-- <img src="/img/cloud1.png" alt=""> -->
    </div>
    <div class="container cloud_container col-md-6 col-sm col-xs h-100 d-flex justify-content-center align-items-center "
        style="background-image: url(/public/img/cloud2.png);">


        <div class="clouds__signup w-75">
            <div class="flex-column">
                <h3 class="flex-fill col">Want exclusive access to our sales? Sign up!</h3>
                <form action="#" class="row flex-fill">
                    <div class="col-sm-9 my-md-2 my-2"> <input type="email"
                            class="form-control px-4 border-0 w-100 text-center text-md-left" id="email"
                            placeholder="Your Email" name="email"> </div>
                    <div class="col-lg-3 mx-0 my-md-2 my-2"> <button type="submit" class="btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>


        <!-- <img src="/img/cloud2.png" alt=""> -->
    </div>


</div>