<link rel="stylesheet" href="/stylesheets/footer.css">

<footer class="fixed-bottom">
    <span class="cloud1"></span>
    <span class="cloud2"></span>
    <div class="blog__action nav-item"><a class="nav-link" href=""> FOLLOW OUR ADVENTURES ></a></div>
    <div class="contatiner-fluid">
        <div class="row justify-content-center" id="footer__nav">
            <div class="col-md-6 text-center">
                <div class="col-md text-center social">
                    <div class="row">

                        <div class="col-md-4">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>

                        <a href="" class="col"><img src="/img/lf-logo.png" alt=""></a>

                        <div class="col-md-4">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="nav row">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">TRIPS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">GEAR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">BLOG</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>

</footer>