<link rel="stylesheet" href="/stylesheets/header.css">
<link rel="stylesheet" href="https://use.typekit.net/pll1lxb.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>



<div class="landing__page"></div>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid px-5 mt-3">
        <a class="navbar-brand" href="/"><img src="/img/lf-logo.png" alt="lefiat logo" class="img-fluid"></a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">

            <div class="navbar-nav navbar__header float-end">
                <a class="nav-item nav-link px-4 active" href="/trips">TRIPS</a>
                <a class="nav-item nav-link px-4" href="/gear">GEAR</a>
                <a class="nav-item nav-link px-4" href="/about">ABOUT</a>
                <a class="nav-item nav-link px-4" href="/blog">BLOG</a>

                <!-- <a class="nav-item nav-link px-4" href="#"><img src="/img/search.png" alt="search icon"></a> -->
                <div class=" nav-item nav-link px-4 search-icon"></div>
                <div class="search-box">
                    <!-------input-->
                    <div class="s-icon">
                        <input type="text" placeholder="Search">
                        <!----------search-icon------->
                        <i class="fas fa-search"></i></i></div>
                </div>

                <a class="nav-link px-4" href="/cart"><img src="/img/cart.png" alt="shopping cart icon"></a>

                <!-- <a class="nav-item nav-link px-4" href="/login">LOGIN / REGISTER</a>

                <a class="nav-item nav-link px-4" href="/logout">LOGOUT</a> -->



            </div>
        </div>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>