<link rel="stylesheet" href="/stylesheets/header.css">
<link rel="stylesheet" href="https://use.typekit.net/pll1lxb.css">

<div class="landing__page"></div>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid px-5">
        <a class="navbar-brand" href="/"><img src="/img/lf-logo.png" alt="lefiat logo" class="img-fluid"></a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between d-flex flex-row-reverse">
            <div class="navbar-nav navbar__header ">
                <a class="nav-item nav-link p-4 active" href="/trips">TRIPS</a>
                <a class="nav-item nav-link p-4" href="/gear">GEAR</a>
                <a class="nav-item nav-link p-4" href="/about">ABOUT</a>
                <a class="nav-item nav-link p-4" href="/blog">BLOG</a>
                <a class="nav-item nav-link p-4" href="#"><img src="/img/search.png" alt="search icon"></a>
                <a class="nav-link p-4" href="#"><img src="/img/cart.png" alt="shopping cart icon"></a>
            </div>
        </div>
    </div>
</nav>