<header>
    <nav>
        <a href="/"><img src="" alt="">LeFiat</a>
        <div>
            <a href="/trips">TRIPS</a></li>
            <a href="/gear">GEAR</a></li>
            <a href="/about">ABOUT</a></li>
            <a href="/blog">BLOG</a></li>
        </div>
        <div>
            <a href="#">search</a>
            <a href="#">cart</a>
        </div>
        <div>
            <a href="#">LOGIN / REGISTER</a>
            <!-- <a href="#">LOGOUT</a>
            <a href="#">ADMIN</a> -->
        </div>
    </nav>
</header>