<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<link rel="stylesheet" href="/stylesheets/index.css">





<!-- <div class="container-fluid px-0"> -->



<!-- Swiper Carousel -->

<div id='shop' class='swiper '>

    <div class="gallery swiper-container ">

        <div class="gallery_list swiper-wrapper container-fluid ">

            <div class="gallery_item swiper-slide">
                <img src="/uploads/2021-11-30T19:09:33.687Zkristjan-kotar--h15p84GY5k-unsplash.jpg" alt="alt">

                <div class="text px-4">
                    <h3 class="title mb-1">Coastal Overnight</h3>
                    <h4 class="mb-3">$225.00 / person</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                        voluptatibus iure repellat? Corporis quam, minus corrupti et autem molestias
                        rerum ullam quibusdam cum excepturi?
                    </p>
                    <a class="add-cart cart1">Add to Cart</a>
                </div>
            </div>
            <div class="gallery_item swiper-slide">
                <a href="/trips/mt-washington">
                    <img src="/uploads/2021-11-30T19:39:11.794Ztim-tiedemann-DmVDrTLFHBw-unsplash.jpg" alt="alt">
                </a>
                <div class="text px-4">
                    <h3 class="title  mb-1">Mt. Washington</h3>
                    <h4 class="mb-3">4 Days / 3 Nights $556</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                        voluptatibus iure repellat? Corporis quam, minus corrupti et autem molestias
                        rerum ullam quibusdam cum excepturi?
                    </p>
                    <a class="add-cart cart2">Add to Cart</a>
                </div>
            </div>
            <div class="gallery_item swiper-slide">
                <a href="/trips/trans-catalina-trail">
                    <img src="/uploads/2021-11-30T21:36:45.967Zparsons.jpg" alt="alt" class="mh-25">
                </a>
                <div class="text px-4">
                    <h3 class="title  mb-1">Trans Catalina Trail</h3>
                    <h4 class="mb-3">5 Days / 4 Nights $450</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                        voluptatibus iure repellat? Corporis quam, minus corrupti et autem molestias
                        rerum ullam quibusdam cum excepturi?
                    </p>
                    <a class="add-cart cart3">Add to Cart</a>
                </div>
            </div>
            <div class="gallery_item swiper-slide">
                <a href="/trips/big-sur">
                    <img src="/uploads/2021-11-30T21:44:42.963Zbigsur.jpg" alt="alt">
                </a>
                <div class="text px-4">
                    <h3 class="title mb-1">Big Sur</h3>
                    <h4 class="mb-3">4 Days / 3 Nights $350</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                        voluptatibus iure repellat? Corporis quam, minus corrupti et autem molestias
                        rerum ullam quibusdam cum excepturi?
                    </p>
                    <a class="add-cart cart4">Add to Cart</a>
                </div>
            </div>
            <div class="gallery_item swiper-slide">
                <a href="/trips/john-muir-trail">
                    <img src="/uploads/2021-12-01T01:30:16.797Zkevin-brunet-9rKIYLtSfUI-unsplash (1).jpg" alt="alt">
                </a>
                <div class="text px-4">
                    <h3 class="title mb-1">John Muir Trail</h3>
                    <h4 class="mb-3">14 Days / 13 Nights $2150</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                        voluptatibus iure repellat? Corporis quam, minus corrupti et autem molestias
                        rerum ullam quibusdam cum excepturi?
                    </p>
                    <a class="add-cart cart5">Add to Cart</a>
                </div>
            </div>
            <div class="gallery_item swiper-slide">
                <a href="/trips/lost-coast-trail">
                    <img src="/uploads/2021-12-01T18:44:16.287Zalan-carrillo-CMwyWFRqr8E-unsplash (1).jpg" alt="alt">
                </a>
                <div class="text px-4">
                    <h3 class="title mb-1">Lost Coast Trail</h3>
                    <h4 class="mb-3">$65.00/night</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                        voluptatibus iure repellat? Corporis quam, minus corrupti et autem molestias
                        rerum ullam quibusdam cum excepturi?
                    </p>
                    <a class="add-cart cart6">Add to Cart</a>
                </div>
            </div>
            <div class="gallery_item swiper-slide">
                <img src="/img/header.jpeg" alt="alt">
                <div class="text px-4">
                    <h3 class="title mb-1">Lakeside Overnight</h3>
                    <h4 class="mb-3">$125.00/person</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                        voluptatibus iure repellat? Corporis quam, minus corrupti et autem molestias
                        rerum ullam quibusdam cum excepturi?
                    </p>
                    <a class="add-cart cart7">Add to Cart</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="midnav container">
    <div class="row ">
        <div class="col-lg-6 col-m p-3">
            <a href="/trips" class=""><img src="/img/trips.jpg" alt="" class="mw-100 h-auto"></a>
        </div>
        <div class="col-lg-6 col-m p-3">
            <a href="/gear" class=""><img src="/img/gear.jpg" alt="" class="mw-100 h-auto"></a>
        </div>
    </div>
    <div class="row text-center">
        <a href="/sale" class="p-3"><img src="/img/sale.jpg" alt="" class="mw-100 h-auto"></a>
    </div>
</div>