<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<link rel="stylesheet" href="/stylesheets/index.css">

<div id="sign_up" class="newsletter__wrapper">
    <div class="d-flex justify-content-between flex-column ">
        <h3 class="flex-fill col text-white">Enter for your chance to win a FREE guided adventure</h3>
        <form action="#" class="row flex-fill">
            <div class="col my-md-2 my-2"> <input type="email"
                    class="form-control px-4 border-0 w-100 text-center text-md-left" id="email"
                    placeholder="Your Email" name="email"> </div>
            <div class="row mx-0 my-md-2 my-2"> <button type="submit" class="btn py-1 w-100">Sign Up
                    Today</button>
            </div>
        </form>
    </div>
</div>


<div class="container-fluid px-0">

    <!-- background image -->

    <div class="landing img-fluid"></div>


    <!-- Swiper Carousel -->

    <div id='shop' class='swiper '>
        <div class="gallery swiper-container ">
            <div class="gallery_list swiper-wrapper container-fluid ">
                <div class="gallery_item swiper-slide">
                    <img src="/uploads/2021-11-30T19:09:33.687Zkristjan-kotar--h15p84GY5k-unsplash.jpg" alt="alt">
                    <div class="text px-4">
                        <h3 class="title">Coastal Overnight</h3>
                        <h4>$225.00 / person</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                            voluptatibus corrupti eos ea iure repellat? Corporis quam, minus corrupti et autem molestias
                            rerum ullam quibusdam cum excepturi?
                        </p>
                        <a class="add-cart cart1">Add to Cart</a>
                    </div>
                </div>
                <div class="gallery_item swiper-slide">
                    <a href="/trips/mt-washington">
                        <img src="/uploads/2021-11-30T19:39:11.794Ztim-tiedemann-DmVDrTLFHBw-unsplash.jpg" alt="alt">
                    </a>
                    <div class="text px-4">
                        <h3 class="title">Mt. Washington</h3>
                        <h4>4 Days / 3 Nights $556</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                            voluptatibus corrupti eos ea iure repellat? Corporis quam, minus corrupti et autem molestias
                            rerum ullam quibusdam cum excepturi?
                        </p>
                        <a class="add-cart cart2">Add to Cart</a>
                    </div>
                </div>
                <div class="gallery_item swiper-slide">
                    <a href="/trips/trans-catalina-trail">
                        <img src="/uploads/2021-11-30T21:36:45.967Zparsons.jpg" alt="alt" class="mh-25">
                    </a>
                    <div class="text px-4">
                        <h3 class="title">Trans Catalina Trail</h3>
                        <h4>5 Days / 4 Nights $450</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                            voluptatibus corrupti eos ea iure repellat? Corporis quam, minus corrupti et autem molestias
                            rerum ullam quibusdam cum excepturi?
                        </p>
                        <a class="add-cart cart3">Add to Cart</a>
                    </div>
                </div>
                <div class="gallery_item swiper-slide">
                    <a href="/trips/big-sur">
                        <img src="/uploads/2021-11-30T21:44:42.963Zbigsur.jpg" alt="alt">
                    </a>
                    <div class="text px-4">
                        <h3 class="title">Big Sur</h3>
                        <h4>4 Days / 3 Nights $350</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                            voluptatibus corrupti eos ea iure repellat? Corporis quam, minus corrupti et autem molestias
                            rerum ullam quibusdam cum excepturi?
                        </p>
                        <a class="add-cart cart4">Add to Cart</a>
                    </div>
                </div>
                <div class="gallery_item swiper-slide">
                    <a href="/trips/john-muir-trail">
                        <img src="/uploads/2021-12-01T01:30:16.797Zkevin-brunet-9rKIYLtSfUI-unsplash (1).jpg" alt="alt">
                    </a>
                    <div class="text px-4">
                        <h3 class="title">John Muir Trail</h3>
                        <h4>14 Days / 13 Nights $2150</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                            voluptatibus corrupti eos ea iure repellat? Corporis quam, minus corrupti et autem molestias
                            rerum ullam quibusdam cum excepturi?
                        </p>
                        <a class="add-cart cart5">Add to Cart</a>
                    </div>
                </div>
                <div class="gallery_item swiper-slide">
                    <a href="/trips/lost-coast-trail">
                        <img src="/uploads/2021-12-01T18:44:16.287Zalan-carrillo-CMwyWFRqr8E-unsplash (1).jpg"
                            alt="alt">
                    </a>
                    <div class="text px-4">
                        <h3 class="title">Lost Coast Trail</h3>
                        <h4>$65.00/night</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                            voluptatibus corrupti eos ea iure repellat? Corporis quam, minus corrupti et autem molestias
                            rerum ullam quibusdam cum excepturi?
                        </p>
                        <a class="add-cart cart6">Add to Cart</a>
                    </div>
                </div>
                <div class="gallery_item swiper-slide">
                    <img src="/img/header.jpeg" alt="alt">
                    <div class="text px-4">
                        <h3 class="title">Lakeside Overnight</h3>
                        <h4>$125.00/person</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                            voluptatibus corrupti eos ea iure repellat? Corporis quam, minus corrupti et autem molestias
                            rerum ullam quibusdam cum excepturi?
                        </p>
                        <a class="add-cart cart7">Add to Cart</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid d-grid gap-3 justify-content-center my-5 ">
            <div class="row">
                <div class="col">
                    <a href="/trips"><img src="/img/trips.jpg" alt=""></a>
                </div>
                <div class="col">
                    <a href="/gear"><img src="/img/gear.jpg" alt=""></a>
                </div>
            </div>
            <div class="">
                <a href="/sale"><img src="/img/sale.jpg" alt=""></a>
            </div>
        </div>
    </div>


    <div class="clouds d-flex">
        <div id="myCarousel" class="carousel carousel-dark slide col-md-6" data-bs-ride="carousel">

            <!-- Wrapper for carousel items -->
            <div class="carousel-inner review__carousel  w-50">
                <div class="carousel-item active">
                    <p class="review__body">"Some demonstrative placeholder content for the first slide."</p>
                    <p class="review__author text-end px-3">- Review Author</p>
                </div>
                <div class="carousel-item">
                    <p class="review__body">"Some demonstrative placeholder content for the second slide."</p>
                    <p class="review__author text-end px-3">- Review Author</p>
                </div>
                <div class="carousel-item">
                    <p class="review__body">"Some demonstrative placeholder content for the third slide."</p>
                    <p class="review__author text-end px-3">- Review Author</p>
                </div>

            </div>

            <img src="/img/cloud1.png" alt="">
        </div>
        <div class="container col-md-6">


            <div class="newsletter__wrapper">
                <div class="d-flex justify-content-between flex-column ">
                    <h3 class="flex-fill col">Want exclusive access to our sales? Sign up!</h3>
                    <form action="#" class="row flex-fill">
                        <div class="col-sm-9 my-md-2 my-2"> <input type="email"
                                class="form-control px-4 border-0 w-100 text-center text-md-left" id="email"
                                placeholder="Your Email" name="email"> </div>
                        <div class="col-sm-3 mx-0 my-md-2 my-2"> <button type="submit"
                                class="btn py-1 w-100">Submit</button>
                        </div>
                    </form>
                </div>
            </div>


            <img src="/img/cloud2.png" alt="">
        </div>


    </div>