<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<link rel="stylesheet" href="/stylesheets/index.css">


<div class="container-fluid">

    <!-- background image -->

    <div class="landing img-fluid"></div>

    <!-- Swiper Carousel -->

    <div id='shop' class='swiper'>
        <div class="gallery swiper-container">
            <div class="gallery_list swiper-wrapper">
                <div class="gallery_item swiper-slide">
                    <img src="/img/header.jpeg" alt="alt">
                    <div class="text px-4">
                        <h3 class="title">Coastal Overnight</h3>
                        <h4>$125.00/person</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                            voluptatibus corrupti eos ea iure repellat? Corporis quam, minus corrupti et autem molestias
                            rerum ullam quibusdam cum excepturi?
                        </p>
                        <a class="add-cart cart1">Add to Cart</a>
                    </div>
                </div>
                <div class="gallery_item swiper-slide">
                    <img src="/img/header.jpeg" alt="alt">
                    <div class="text px-4">
                        <h3 class="title">Campsite Reservation</h3>
                        <h4>$45.00/night</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                            voluptatibus corrupti eos ea iure repellat? Corporis quam, minus corrupti et autem molestias
                            rerum ullam quibusdam cum excepturi?
                        </p>
                        <a class="add-cart cart2">Add to Cart</a>
                    </div>
                </div>
                <div class="gallery_item swiper-slide">
                    <img src="/img/header.jpeg" alt="alt">
                    <div class="text px-4">
                        <h3 class="title">San Gorgonio Overnight</h3>
                        <h4>$175.00/person</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                            voluptatibus corrupti eos ea iure repellat? Corporis quam, minus corrupti et autem molestias
                            rerum ullam quibusdam cum excepturi?
                        </p>
                        <a class="add-cart cart3">Add to Cart</a>
                    </div>
                </div>
                <div class="gallery_item swiper-slide">
                    <img src="/img/header.jpeg" alt="alt">
                    <div class="text px-4">
                        <h3 class="title">Shore Dive</h3>
                        <h4>$95.00/person</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                            voluptatibus corrupti eos ea iure repellat? Corporis quam, minus corrupti et autem molestias
                            rerum ullam quibusdam cum excepturi?
                        </p>
                        <a class="add-cart cart4">Add to Cart</a>
                    </div>
                </div>
                <div class="gallery_item swiper-slide">
                    <img src="/img/header.jpeg" alt="alt">
                    <div class="text px-4">
                        <h3 class="title">Baden Powell Overnight</h3>
                        <h4>$125.00/person</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                            voluptatibus corrupti eos ea iure repellat? Corporis quam, minus corrupti et autem molestias
                            rerum ullam quibusdam cum excepturi?
                        </p>
                        <a class="add-cart cart5">Add to Cart</a>
                    </div>
                </div>
                <div class="gallery_item swiper-slide">
                    <img src="/img/header.jpeg" alt="alt">
                    <div class="text px-4">
                        <h3 class="title">Gear Rental</h3>
                        <h4>$65.00/night</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                            voluptatibus corrupti eos ea iure repellat? Corporis quam, minus corrupti et autem molestias
                            rerum ullam quibusdam cum excepturi?
                        </p>
                        <a class="add-cart cart6">Add to Cart</a>
                    </div>
                </div>
                <div class="gallery_item swiper-slide">
                    <img src="/img/header.jpeg" alt="alt">
                    <div class="text px-4">
                        <h3 class="title">Lakeside Overnight</h3>
                        <h4>$125.00/person</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque beatae fugit
                            voluptatibus corrupti eos ea iure repellat? Corporis quam, minus corrupti et autem molestias
                            rerum ullam quibusdam cum excepturi?
                        </p>
                        <a class="add-cart cart7">Add to Cart</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid d-grid gap-3 justify-content-center my-5 ">
            <div class="row">
                <div class="col">
                    <a href="/trips"><img src="/img/trips.jpg" alt=""></a>
                </div>
                <div class="col">
                    <a href="/gear"><img src="/img/gear.jpg" alt=""></a>
                </div>
            </div>
            <div class="">
                <a href="/sale"><img src="/img/sale.jpg" alt=""></a>
            </div>
        </div>
    </div>


    <div class="clouds d-flex">
        <div id="myCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">

            <!-- Wrapper for carousel items -->
            <div class="carousel-inner review__carousel  w-50">
                <div class="carousel-item active">
                    <p class="">"Some demonstrative placeholder content for the first slide."</p>
                    <p class="review__author text-end px-3">- Review Author</p>
                </div>
                <div class="carousel-item">
                    <p>"Some demonstrative placeholder content for the second slide."</p>
                    <p class="review__author text-end px-3">- Review Author</p>
                </div>
                <div class="carousel-item">
                    <p>"Some demonstrative placeholder content for the third slide."</p>
                    <p class="review__author text-end px-3">- Review Author</p>
                </div>

            </div>

            <img src="/img/cloud1.png" alt="">
        </div>

        <img src="/img/cloud2.png" alt="">

    </div>