<link rel="stylesheet" href="/stylesheets/formStyles.css">


<!-- 
     Insert if/else selected true show corresponding partial 

     Until category is selected form field area remains blank
-->

<!-- Parent categories -->

<div class="parentGear">

    <div class=" form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
            value="<%= product.backpack %> ">
        <label class="form-check-label" for="backpack">BACKPACK</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
            value="<%= product.quilts %> ">
        <label class="form-check-label" for="sleep">SLEEP</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
            value="<%= product.shelter %> ">
        <label class="form-check-label" for="shelter">SHELTER</label>
    </div>

    <!-- Toggle if / else show sale price input

-->

    <div class="form-check form-check-inline form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-toggle="collapse"
            data-target="#salePrice" aria-controls="salePrice" aria-expanded="false" aria-label="Toggle navigation">
        <label class="form-check-label" for="flexSwitchCheckDefault" value="<%= product.sale %> ">SALE</label>
    </div>

</div>