.landing__page {
    position: relative;
    height: 100vh;
    color: white;
    background-image: linear-gradient(to bottom, #cca3925d, #8d6c5d67),  url('/img/ultrarunning.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

  }

.about {
    font-family: 'Korolev';
    font-size: .75rem;
    max-width: 750px;
    max-height: auto;
}

.about__img {
 max-height: 350px;
 object-fit: cover;
}

.about__contact {
    font-family: 'Korolev';
    font-size: 1rem;
    max-width: 750px;
    max-height: auto;
}

.about__contact img {
    max-height: 50px;
    width: auto;
}

.about__contact a {
    text-decoration: none;
    color: inherit;
}

.quote {
    font-size: .85rem; 
}
