.landing__page {
    position: relative;
    height: 100vh;
    color: white;
    background-image: linear-gradient(to bottom, #cca3925d, #8d6c5d67),  url('/img/mtWhitney.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

  }

  /* article card display */

  .blog_article {
    font-family: 'korolev';
  }

  .blog_article img {
    max-height: 250px;
    width: auto;
    object-fit: contain;
  }

  .read_more {
    position: absolute;
    bottom: 1rem;
    left: 18rem;
  }

  /* blog show page */

  .markup {
    font-family: good-times;
  }

  @media (max-width: 550px) {
    .blog_article h4 {
      font-size: 1.15rem;
    }

    .blog_article .card-text {
      font-size: .75rem;
      
    }

    .description {
      overflow: hidden;
    
    }
  }