.landing__page {
    position: relative;
    height: 85vh;
    color: white;
    background-image: linear-gradient(to bottom, #cca3925d, #8d6c5d67),  url('/img/mtWhitney.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  nav {
    position: absolute;
    top: -39rem;
  }

  .blog_title {
    position: relative;
    top: -3rem;
  }

  /* Newsletter signup */

  .newsletter__wrapper {
    width: 400px;
    position: absolute;
    top: 25%;
    right: 8rem;
  }
  
  .newsletter__wrapper h3 {
    font-size: .95rem;
    font-weight: bold;
    letter-spacing: .05rem;
  }

  /* article card display */

  .blog_article img {
    max-height: 350px;
    object-fit: cover;
  }
