
.clouds {
    font-family: "Korolev";
    position: relative;
    bottom: 6rem;
    max-width: auto;
    max-height: 25vh;
    background: transparent;
  }
  
  .clouds img {
    max-width: 100%;
    height: auto;
  }
  
  /* review carousel  */
  
  .review__carousel {
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 85%;
    right: 10rem;
  }
  
  .carousel-inner .active{
    background:none !important;
  }
  
  .review__body {
    font-size: .95rem;
  }
  
  .review__author {
    font-size: .65rem;
  }
  
  /* newsletter sign up */
  
  .newsletter__wrapper {
    width: 400px;
    position: absolute;
    top: 85%;
    right: 8rem;
  }
  
  .newsletter__wrapper h3 {
    font-size: .95rem;
    font-weight: bold;
    letter-spacing: .05rem;
  }
  
  .btn {
    
    font-weight: bold;
    color: #fff;
    background-color: #3f5900;
    border-radius: 3px;
  }