footer {
    padding-top: 100px;
    background: url('/img/lf-footer.jpg') no-repeat center center;
    background-size: cover;
    height: 600px;
    font-family: good-times;
    text-align: center;
}

#footer__logo {
   
}

.social a img {
  max-height: 2.15rem;
}

.blog__action {
    position: absolute;
    top: 35%;
    right: 10%; 
}

.blog__action a {
    font-size: 1.35rem;
    letter-spacing: .25rem;
    color: #000;
}

#footer__nav {
  position: relative;
  top: 20rem;
  
}

.cloud1 {
    background-image: url('/img/clouds.png');
    background-repeat: no-repeat;
}

.cloud2 {
    background-image: url('/img/clouds2.png');
}

.nav-link {
    color: #fff;
}
