footer {
    
    background: url('/img/lf-footer.jpg') no-repeat center center;
    background-size: cover;
    height: 600px;
    font-family: good-times;
    text-align: center;
}

/* linear-gradient(to bottom, #cca3925d, #8d6c5d67),  */

#footer__logo {
   
}

.social a img {
  max-height: 2.15rem;
}

.blog__action {
    position: absolute;
    bottom: -115rem;
    right: 5%;
}

.blog__action a {
    font-size: 1.35rem;
    letter-spacing: .25rem;
    color: #000;
}

#footer__nav {
  position: relative;
  top: 24rem;
  
}


.nav-link {
    color: #fff;
}


.clouds {
  font-family: "Korolev";
}


.review__carousel {
  font-weight: bold;
  font-style: italic;
  position: absolute;
  bottom: 7rem;
  right: 10rem;
}

.review__body {
  font-size: .85rem;
}

.review__author {
  font-size: .55rem;
}

/* Subscription sign up */

.subscription__wrapper {
  width: 400px;
  position: absolute;
  top: 129rem;
  right: 12rem;
}

.subscription__wrapper h3 {
  font-size: .95rem;
  font-weight: bold;
  letter-spacing: .05rem;
}

.btn {
  
  font-weight: bold;
  color: #fff;
  background-color: #3f5900;
  border-radius: 3px;
}

