footer {
    background: url('/img/lf-footer.jpg') no-repeat center center;
    background-size: cover;
    height: 600px;
    /* padding: 90px 0; */
    font-family: good-times;
    text-align: center;
}

/* linear-gradient(to bottom, #cca3925d, #8d6c5d67),  */

#footer__logo {
   
}

.social a img {
  max-height: 2.15rem;
}

.blog__action a {
    font-size: 1.35rem;
    letter-spacing: .15rem;
    color: #000;

}

#footer__nav {

}


.nav-link {
    color: #fff;
}


/* clouds partial container */

.clouds {
  height: 30vh;
}

.cloud_container {
 width: 100%; 
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center center;
 height: auto;
}

.clouds__signup h3 {
  font-size: 1.15rem;
}


.review__carousel {
  font-weight: bold;
  font-style: italic;
}

.review__body {
  font-size: .85rem;
}

.review__author {
  font-size: .55rem;
}

/* Subscription sign up */

.subscription__wrapper {
  width: 400px;

}

.subscription__wrapper h3 {
  font-size: .95rem;
  font-weight: bold;
  letter-spacing: .05rem;
}

.btn {
  
  font-weight: bold;
  color: #fff;
  background-color: #3f5900;
  border-radius: 3px;
}


/* Blog link */

.follow a{
  font-size: 1.75rem;
  /* position: relative; */
  /* top: 10rem; */
}