.landing__page {
    position: relative;
    height: 100vh;
    color: white;
    background-image: linear-gradient(to bottom, #cca3925d, #8d6c5d67),  url('/img/lefiatGear.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .gear_card img {
    height: 250px;
    width: auto;
    object-fit: contain;
  }

  .gear_title {

  }
 