.landing__page {
    position: relative;
    height: 85vh;
    color: white;
    background-image: linear-gradient(to bottom, #cca3925d, #8d6c5d67),  url('/img/lefiatGear.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  nav {
    position: relative;
    top: -38rem;
  }

  .gear_card img {
    height: 250px;
    width: auto;
    object-fit: cover;
  }

  .gear_title {
    position: relative;
    bottom: 2rem;
  }
  /* Newsletter signup */

  .newsletter__wrapper {
    width: 400px;
    position: absolute;
    top: 35%;
    right: 8rem;
  }
  
  .newsletter__wrapper h3 {
    font-size: .95rem;
    font-weight: bold;
    letter-spacing: .05rem;
  }

  .item_wrapper a {
    text-decoration: none;
  }

