header {

    height: 100vh;
    position: relative;
    color: white;
    background-image: linear-gradient(to bottom, #cca3925d, #8d6c5d67), url('/img/header.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 4;
  }

.navbar__items {
    
}

.navbar__header a {
    color: #fff;
    text-decoration: none;
    font-family: good-times;
    font-size: .75rem; 
}

.navbar-brand img{
    max-width: 180px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}