header {
    height: 100vh;
    position: relative;
    color: white;
    background-position: top;
    z-index: 4;
  }

.navbar__items {
    
}

.navbar__header a {
    color: #fff;
    text-decoration: none;
    font-family: good-times;
    font-size: .95rem; 
}

.navbar-brand img{
    max-width: 180px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* search function  */

.search-icon:before {
  content: "\f002";
  font-family: fontAwesome;
  color: #ffffff;
}

.search-box {
  width: 25vh;
  height: 35px;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c7c7c7;
  padding: 0px 0px 0px 15px;
  display: none;
  float: right;
}
.search-container.active,
.search-container.active .search-box {
  display: flex;
}

.search-box .s-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box .fa-search {
  margin-left: auto;
  padding: 0.8rem;
}

.search-box input {
  width: 70%;
  height: 50px;
  outline: none;
  background: transparent;
  border: none;
  color: #e3e3e3;
  font-size: 16px;
}

.search-box input::placeholder {
  color: #c7c7c7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  text-align: center;
}

.search-icon.active {
  background: #fff;
  height: 35px;
  padding: 0 0.4rem !important;
  border-left: 1px solid #ddd;
}
.search-icon.active:before {
  content: "\f00d";
  color: #e3e3e3;
  height: 0.8rem;
  float: right;
  margin: 7px;
}



  /* newsletter sign up */
  
  .newsletter__wrapper{
    width: 400px;
  }
  
  .newsletter__wrapper h3 {
    font-size: .95rem;
    font-weight: bold;
    letter-spacing: .05rem;
  }