
.landing__page {
    position: relative;
    height: 85vh;
    color: white;
    background-image: linear-gradient(to bottom, #cca3925d, #8d6c5d67),  url('/img/trips-landing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  nav {
    position: absolute;
    top: -38rem;
    
  }

  /* Newsletter signup */

  .newsletter__wrapper {
    width: 400px;
    position: absolute;
    top: 35%;
    right: 8rem;
  }
  
  .newsletter__wrapper h3 {
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: .05rem;
  }

  /* Trips title */

  .trips_title {
    position: relative;
    bottom: 2rem;
    
  }

/* Trips cards */

.trips__background {
    max-height: 350px;
    height: 250px;
    width: auto;
    /* object-fit: fill; */
    object-fit: cover;
    
}

.trip__info {
    font-family: Korolev;
    font-weight: bold;
    /* color: rgb(38, 38, 38); */
    color: #ffff;
    position: absolute;
    bottom: 10%;
    right: 2.5%;
}

.trips__card {
  -webkit-text-stroke: .5px #000;
}

.card-img {
  background-image: linear-gradient(to bottom, #cca3925d, #8d6c5d67);
  /* opacity: .73; */
}



