.trips__card {
    max-height: 250px;
    height: 200px;
    background-image: url('/public/img/lakesideovernight.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


