<link rel="stylesheet" href="/stylesheets/about.css">

<div class="container m-5">
    <div class="container">

        <div class="container bg-light col-sm-9 p-3 mb-5 about">
            <div class="mb-4">
                <h3>ABOUT</h3>
            </div>
            <p class="quote"> <i> "Nature is, after all, the great reservoir of energy, confidence, and endless
                    hope, and of that joy
                    not wholly subdued by the pale cast of thought…” </i> -Joseph Krutch
            </p>

            <br>

            <img src="/img/about.jpeg" alt="" class="img-fluid w-100 about__img">

            <br>

            <p class="mt-4">There is something magical and awe-inspiring about spending time away from our daily lives
                in the
                backcountry. Here in California we are blessed to have some of the most incredible wilderness areas in
                the world right in our backyard. Our belief and vision at Adventure Out when it comes to backpacking is
                experience – to live free, breath clean air, and enjoy our natural surroundings. We don’t believe in the
                “death march” style of backpacking that has been popularized recently. It’s not about how many miles you
                cover, or how many ounces you can shave off your pack weight. But rather, taking time for you, away from
                the hustle-and-bustle, to reconnect with nature and your own inner spirit.
                Below are some of our favorite trips that we offer every year. In addition to these, we are available
                for private guiding everywhere in the state of California (and perhaps beyond!) – contact us for more
                info.</p>


        </div>

        <div class="container bg-light p-4 about__contact">

            <div class="row px-4">
                <p class=""> <a href="#" class="px-4"><img src="/img/adicon-b.png" alt="" class="img-fluid"></a> <a class=""
                        href=""> 12345
                        Some Street, Somplace, CA 90000 </a> </p>
            </div>
            <div class="row px-4">
                <p class=""> <a href="#" class="px-4"><img src="/img/emicon-b.png" alt="" class="img-fluid"></a> <a
                        href="">lefiatadventures@lefiat.com</a> </p>
            </div>
            <div class="row px-4">
                <p class=""> <a href="#" class="px-4"><img src="/img/phicon-b.png" alt="" class="img-fluid"></a> <a
                        href="">(888)
                        888 - 8888</a></p>
            </div>
            <div class="row px-4">
                <p class=""> <a href="#" class="px-4"><img src="/img/fbicon-b.png" alt="" class="img-fluid"></a> <a
                        href="">@LefiateAdventureCompany </a> </p>
            </div>
            <div class="row px-4">
                <p class=""> <a href="#" class="px-4"><img src="/img/yticon-b.png" alt="" class="img-fluid"></a> <a
                        href="">@lefiatadventurecompany </a> </p>
            </div>
            <div class="row px-4">
                <p class=""> <a href="#" class="px-4"><img src="/img/igicon-b.png" alt="" class="img-fluid"></a> <a
                        href="">@lefiatadventurecompany</a></p>
            </div>



        </div>
    </div>
</div>