<div class="text-center">
    ABOUT US
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="/img/about.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col-8">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat nostrum provident illo officia
                culpa, dolorum pariatur libero. Perspiciatis hic eos, ullam ipsam neque voluptatem animi consequuntur
                dolores repellendus sit.</p>
        </div>
    </div>
</div>