<link rel="stylesheet" href="/stylesheets/about.css">

<div class="container m-5">
    <div class="container">

        <div class="container bg-light col-sm-9 p-3 mb-5 about">
            <div class="mb-4">
                <h3>ABOUT</h3>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil architecto repellendus ipsam harum, earum
                amet veniam odio labore esse in recusandae quae distinctio eius sed. Accusantium saepe officiis harum
                nihil?lore</p>
            <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, doloribus veritatis tempora soluta esse
                eius
                ipsa officia error iste culpa quos, alias quis dolores. Officiis rerum quidem dolorum similique optio?
                Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Repudiandae praesentium harum quae iure ullam ea vel.
                Ullam, ipsum sunt repellendus reiciendis corporis tempora expedita ex, officia culpa delectus commodi
                recusandae.</p>

            <img src="/img/about.jpeg" alt="" class="img-fluid w-100 about__img">

        </div>

        <div class="container bg-light col-sm-9 p-4 about__contact">
            <div class="col">
                <div class="row">
                    <a href=""><img src="/img/adicon.png" alt="" class="img-fluid img-thumbnail col-sm-4"></a>
                    <p class="col-sm-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="row">
                    <a href=""><img src="/img/emicon.png" alt=""></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="row">
                    <a href=""><img src="/img/phicon.png" alt=""></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="row">
                    <a href=""><img src="/img/fbicon.png" alt="" class="col-4"></a>
                    <p class="col-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="row">
                    <a href=""><img src="/img/yticon.png" alt=""></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="row">
                    <a href=""><img src="/img/igicon.png" alt=""></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>