<div class="container">
    <h1 class="mb-4"> New Article </h1>

    <form action="/blog" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>
        <%- include('../partials/form_fields')  %>
    </form>
</div>