<link rel="stylesheet" href="/stylesheets/formStyles.css">
<div class="row text-center text-light">
    <h1>Register</h1>
</div>
<div class="container">
    <form action="/register" method="POST" class="validated-form p-4" novalidate>
        <div class="mb-3">
            <label class="form-label" for="username">username</label>
            <input class="form-control" type="text" name="username" id="username" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">
                Please enter a username.
            </div>
        </div>

        <div class="valid-feedback">Looks good!</div>
        <div class="mb-3">
            <label class="form-label" for="email">email</label>
            <input class="form-control" type="email" name="email" id="email" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">
                Please enter a valid email.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="password">password</label>
            <input class="form-control" type="password" name="password" id="password" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">
                Please enter a password.
            </div>
        </div>

        <button class="btn btn-success">Register</button>
    </form>
</div>