<div class="container">
    <h1 class="mb-4"> Edit Product </h1>

    <form class="mb-5" action="/gear/<%=product.slug%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <%- include('../partials/product_fields')  %>
    </form>
</div>