<div class="container d-flex justify-content-center">

    <div class="">
        <div class="">
            <h1 class="mb-4"> Edit Trip </h1>
        </div>
        <div class="card-body" style="width: 400px">
            <form action="/trips" method="POST" enctype="multipart/form-data" class="">
                <%- include('../partials/trips_fields')  %>
            </form>
        </div>
    </div>
</div>