<div class="container-fluid">
    <h1 class="mb-4">Edit Trip</h1>

    <form action="/trips/<%= trip.id %> ?_method=PUT" method="POST" enctype="multipart/form-data">
        <%- include('../partials/trip_form') %>
    </form>

</div>