<link rel="stylesheet" href="/stylesheets/trips.css">
<div class="container-fluid">

    <div class="">
        <a href="/trips/new" class="btn btn-primary mx-3"> New Trip </a>
    </div>

    <div class="mt-5 d-flex justify-content-evenly">

        <div class="mt-2 col-5 trips__card ">
            <a href="#" class="text-decoration-none text-white">
                <div class="card-body">
                    <div class="trip__info">
                        <h4 class="card_title">Great Sand Dunes National Park</h4>
                        <div class="card-subtitle">2 days / $900</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="mt-2 col-5 trips__card">
            <a href="#" class="text-decoration-none text-white">
                <div class="card-body ">
                    <div class="trip__info">
                        <h4 class="card_title">Great Sand Dunes National Park</h4>
                        <div class="card-subtitle">2 days / $900</div>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>