<div class="container-fluid">

    <h1 class="mb-2"><%= trip.title %> </h1>
    <div class="text-muted mb-2"><%= trip.slug %> </div>
    <a href="/trips" class="btn btn-secondary">All Trips</a>
    <a href="/trips/edit/<%= trip.id %> " class="btn btn-info">Edit</a>

    <div class="">
        <%= article.description %>
    </div>
</div>